generations = 128
population = 128
children = 64

langs.en = 1.0

# langs.en = 0.9
# langs.cs = 0.1

finger_strengths = [0.9, 1.0, 0.8, 0.4]  # index to pinkie

# single stroke stats
prefer_home = 1.5  # non home row effort (quadratic with distance)
lateral = 1.5  # sideways movement effort (compared to up/down)

# bigram and skipgram stats
one_hand = 20  # one-hand bigram effort compared to alteration
sfb = 384  # same finger bigram effort
scissor = 24  # scissor effort at 1U
inroll = 0.8  # inward roll effort (reverse uses the reciprocal)
top_to_bottom = 0.8  # top to bottom SFB effort (reverse uses the reciprocal)
independence = 0.5  # makes far away bigrams less significant
skipgram_weight = 0.3  # count skipgrams as bigrams but with lower weight

# misc
enforce_balance = 1.0
vowel_side = true  # false for left, true for right